@media screen and (min-width: 993px){
  .logo{
    font-size:3em !important;
  }
  .side{
    font-size:1.5em !important;
    padding:2px !important;
  }
  .l3{
    padding:3px;
  }
  .me{
    width: 250px;
    height:250px;
  }
  .contact h2{
    font-size:2.2em;
  }
  .contact h4{
    font-size: 1.6em !important;
  }
  .contact p{
    font-size:1.7em !important;
  }
  .contact i{
    font-size: 2.8em !important;
  }
  .hobby i{
    font-size: 2em !important;
  }
  .contact{
    padding: 180px 16px 80px 16px !important;
  }
  #skills h2{
    font-size: 2.2em !important;
  }
  #connect p{
    font-size:0.9em;
  }
  #connect i{
    font-size:0.9em;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px){
  .logo{
    font-size:2em !important;
    padding:25px !important;
  }
  .side{
    font-size:1.5em !important;
  }
  .head{
    padding-top:12px !important;
  }
  .l3{
    padding:3px;
  }
  .me{
    width: 200px;
    height:200px;
  }
  .contact h2{
    font-size:1.6em !important;
  }
  .contact h4{
    font-size: 1.4em !important;
  }
  .contact p{
    font-size:1.3em !important;
  }

  .contact i{
    font-size: 2.5em !important;
  }
  .hobby i{
    font-size: 1.8em !important;
  }
  .contact{
    padding: 180px 16px 100px 16px !important;
  }
  #skills h2{
    font-size: 1.7em !important;
  }
  #connect p{
    font-size:0.7em;
  }
  #connect i{
    font-size:0.7em;
  }
}

@media screen and (max-width: 600px){
  .logo{
    font-size:1.5em !important;
  }
  .me{
    width: 150px;
    height:150px;
  }
  .contact h2{
    font-size:1.4em !important;
  }
  .contact h4{
    font-size:1.2em !important;
  }
  .contact p{
    font-size: 1.1em !important;
  }
  .contact i{
    font-size: 2.2em !important;
  }
  .contact{
    padding: 130px 16px 80px 16px !important;
  }
  #skills h2{
    font-size: 1.4em !important;
  }

  #connect p{
    font-size:0.6em;
  }

  #connect i{
    font-size:0.6em;
  }
}
